<app-toolbar></app-toolbar>
<mat-card class="alerta-config-card">
  <h3>Configuración de Alertas</h3>
  <mat-slide-toggle [(ngModel)]="alertasActivas">Activar alertas de exceso</mat-slide-toggle>
</mat-card>

<mat-card class="estado-financiero-card">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Ingresos Mensuales"/>
    <input matInput type="number" [(ngModel)]="ingresos" placeholder="S/" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput placeholder="Total Egresos Mensuales"/>
    <input matInput type="number" [(ngModel)]="egresos" placeholder="S/" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="verificarAlertas()">Verificar Estado</button>
</mat-card>

<mat-card *ngIf="mostrarAlerta" class="alerta-card mat-elevation-z4" color="warn">
  <mat-icon color="warn">warning</mat-icon>
  <strong>¡Alerta!</strong> Tus egresos superan tus ingresos.

  <div class="sugerencias">
    <h4>Sugerencias para ajustar tu presupuesto:</h4>
    <ul>
      <li>Revisar tus gastos fijos.</li>
      <li>Reducir gastos en entretenimiento.</li>
      <li>Establecer un límite de gastos diarios.</li>
      <li>Monitorear gastos innecesarios.</li>
    </ul>
  </div>
</mat-card>
