<app-toolbar></app-toolbar>
<mat-card class="perfil-card">
  <div class="perfil-header">
    <div class="perfil-info">
      <h2>Dante Chavez</h2>
      <p class="username">Dantecitos01</p>
      <p class="fecha-union">Se unió en septiembre de 2023</p>
      <p class="miembros-registrados">Tres miembros registrados</p>
    </div>
    <div class="perfil-foto">
      <img src="../../../../CashLife-Frontend/src/assets/luis.jpg" alt="Foto de perfil" class="avatar" />
      <button mat-mini-fab color="accent" class="editar-btn">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</mat-card>

<!-- Sección de Logros -->
<mat-card class="logros-card">
  <h3>Logros:</h3>
  <div class="logro" *ngFor="let logro of logros">
    <div class="logro-icono" [ngStyle]="{'background-color': logro.color}">
      <img [src]="logro.icono" alt="icono logro" />
    </div>
    <div class="logro-info">
      <h4>{{ logro.titulo }}</h4>
      <p>{{ logro.descripcion }}</p>
      <mat-progress-bar color="accent" mode="determinate" [value]="logro.progreso"></mat-progress-bar>
      <span class="puntos">{{ logro.progreso }}/100</span>
    </div>
  </div>
</mat-card>

<!-- Mis miembros -->
<mat-card class="miembros-card">
  <h3 class="titulo-seccion">Mis miembros</h3>
  <mat-list>
    <mat-list-item *ngFor="let miembro of miembros">
      <img alt="{{ miembro.nombre }}" />
      <h4 matLine>{{ miembro.nombre }}</h4>
      <p matLine class="rol">{{ miembro.rol }}</p>
    </mat-list-item>
  </mat-list>
</mat-card>

<!-- Agregar amigos -->
<mat-card class="agregar-amigos-card">
  <h4>Agregar amigos:</h4>
  <button mat-button color="primary">
    <mat-icon>person_search</mat-icon>
    Encuentra a tus amigos
  </button>
  <button mat-button color="primary">
    <mat-icon>person_add</mat-icon>
    Invita a tus amigos
  </button>
</mat-card>

<mat-card-actions class="btn-next">
  <button mat-raised-button color="primary" type="submit" routerLink="/profile-user">Next</button>
</mat-card-actions>


